:root {
  --color-light: #ffffff;
  --rounded-l: 6px;
  --rounded-xl: 36px;

  --font-family-base: "DM Sans", sans-serif;
  --container-width: 1170px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;

  --transition-duration: 0.2s;
}
